@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #135bec;
}

body {
  @apply font-sans;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
}